body{
  margin:0;
  font-family:Segoe UI;
  background:#0b5e2e;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  padding:10px 20px;
}

#game{
  padding:20px;
}

.row{
  display:flex;
  gap:12px;
  margin-bottom:20px;
}

.pile{
  width:90px;
  min-height:130px;
  position:relative;
}

.card{
  width:90px;
  height:130px;
  border-radius:8px;
  background:white;
  position:absolute;
  padding:6px;
  font-weight:bold;
  box-shadow:0 4px 8px rgba(0,0,0,0.4);
  cursor:pointer;
  user-select:none;
}

.red{color:#c62828;}
.black{color:#111;}

.back{
  background:#1e3c72;
}

.hidden{
  display:none;
}

#victory{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.9);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
